# System Check
## Vineeth Kadiyam
## 08/20/2024
**bold statement**

*italic Statement*

### **Objectives of this *class*:**

1. Learn how to employ modern interactive data tools to improve user engagement and data display.
2. Develop the ability to create and apply *interactive dashboards* and data visualizations that clearly convey complex findings.
3. Ensure the data interfaces are *user-friendly* to enable efficient data analysis.

![](image.png)

In [1]:
x=3

In [2]:
x

3

In [3]:
my_list = [2,3,4,5]
my_list

[2, 3, 4, 5]

In [4]:
my_list[0]

2

In [5]:
my_list = ['now','see','this']

In [6]:
my_list[0]

'now'

###  *String* Variable Assignment

In [7]:
my_name = "Vineeth"
print(my_name)

Vineeth

### Using *for loop* print the each character in a given string with length

In [8]:
a = "Vineeth Kadiyam"
char_list =[]
for i in range(len(a)):
    char_list+= a[i]
print(char_list)

['V', 'i', 'n', 'e', 'e', 't', 'h', ' ', 'K', 'a', 'd', 'i', 'y', 'a', 'm']

###  function with  *return* statement and *print* statement

In [9]:
def multi_func(x,y):
    z=y*x
    print(z)

In [10]:
multi_func(2,3)

6

In [11]:
def add_func(x):
    final_add = x + 5
    return final_add

In [12]:
result = add_func(6)
result

11