In [1]:
import pandas as pd

In [2]:
my_data = {'a': [1,2,3],
          'b': ['apples','oranges','bananas']}
my_df = pd.DataFrame(my_data)
my_df.head()

   a        b
0  1   apples
1  2  oranges
2  3  bananas

In [3]:
# Index of the DataFrame
my_df.index

RangeIndex(start=0, stop=3, step=1)

In [4]:
my_data2 = [{'a':1, 'b': 'apple'},{'a': 2,'b': 'oranges'},{'a':3, 'b': 'bananas'}]
my_df2 = pd.DataFrame(my_data2)

In [5]:
#Head of the DataFrame
my_df2.head()

   a        b
0  1    apple
1  2  oranges
2  3  bananas

In [6]:
#Name of the First Column
my_df2['a']

0    1
1    2
2    3
Name: a, dtype: int64

In [7]:
#First Row of DataFrame
my_df2.loc[0]

a        1
b    apple
Name: 0, dtype: object

In [8]:
#First Row of DataFrame (Second Type)
my_df2.iloc[0]

a        1
b    apple
Name: 0, dtype: object

In [9]:
# Create a new CSV file with the DataFrame.
my_df2.to_csv('data.csv',index=True, index_label="ID")
my_df2

   a        b
0  1    apple
1  2  oranges
2  3  bananas

What does the "write/render/evaluate" loop provide for creators of interactive data visualizations?


*Ans:* The "write/render/evaluate" loop helps creators make better interactive data visualizations. They write code, see how it looks, and check if it shows information well. By doing this over and over, they can quickly improve their designs to make them look good and work correctly.
Why are dynamic, interactive data visualizations useful when communicating data?

Ans: 
Interactive data visualizations are good for sharing information because people can play with the data themselves. Unlike regular charts, users can zoom in, filter, and look at details they care about. This makes the data more interesting and easier to understand for different people

Do you agree with Murray's claim that open-source tools that avoid proprietary software are best for publishing data visualization? In a few sentences, explain why you do or do not agree.

.Ans: 
I think open-source tools are better for making data visualizations. They're free and work on many devices. More people can use them, so more people can see the visualizations. Also, many people work together to make these tools better, which helps everyone who uses them.